#root {
  max-width: 1280px;
  text-align: center
}

body {
  font-family: Space, sans-serif;
  @apply bg-custom-gradient text-[#fff] px-3 sm:px-[4%] md:px-[5%] lg:px-[6%] xl:px-[7%] 2xl:px-[7%];
}

.nav {
  transition: all .35s ease;
}

.active {
  color: blueviolet;
}

.gutter-spacing {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;

  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}

.rotating {
  animation: rotation 20s infinite linear;
  scale: 1.2;
}

.rotating2 {
  animation: rotation 20s infinite linear;
}