#root {
  max-width: 1280px;
  text-align: center
}

body {
  font-family: Space, sans-serif;
  @apply bg-custom-gradient text-[#fff] px-3 sm:px-[4%] md:px-[5%] lg:px-[6%] xl:px-[7%] 2xl:px-[7%];
}

.nav {
  transition: all .35s ease;
}